@page
@model Website.Pages.AboutModel
@{
	ViewData["Title"] = "About Dairy Barn";
}
<h1>@ViewData["Title"]</h1>
<p>Founded in 2025 by students of the CIS400 course at Kansas State University, Dairy Barn offers customizable burger and ice cream options that are definitely different from Diary Queen, along with drinks and combo deals.</p>
