@page
@model PrivacyModel
@{
    ViewData["Title"] = "Dairy Barn Website Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dairy Barn values and respects the privacy and autonomy of all people. This site does not collect your data, This site does not use cookies. This site only offers information about Dairy Barn and its menu selection.</p>
