html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul.menu-item {
    margin: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.menu-item > li {
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 475px;
    flex-basis: 200px;
    border: 1.5px solid gray;
}

.prep{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin: 5px;
}

.prep li p{
    display: inline;
    margin: 5px;
}

#ing, #burgers, #iceCream, #drinks{
    border-top: 3px solid lightblue;
    margin: 10px
}

table.topp th, table.topp td{
    border: 1.5px solid gray;
    padding: 5px;
    text-align: left
}

div.table-display{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.text-center{
    border: 3px solid lightblue;
}



